workflows/err.json
{
  "name": "Error Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "817814707",
        "text": "=⚠️ Error in Workflow !!\n📢 Message - {{$node[\"Error Trigger\"].json[\"execution\"][\"error\"][\"message\"]}}\n👀 Stack - {{$node[\"Error Trigger\"].json[\"execution\"][\"error\"][\"stack\"]}}\n📝 Node Exec - {{$node[\"Error Trigger\"].json[\"execution\"][\"lastNodeExecuted\"]}}\n👉🏻 Workflow - {{$node[\"Error Trigger\"].json[\"workflow\"][\"name\"]}} @ {{$node[\"Error Trigger\"].json[\"workflow\"][\"id\"]}}\n🔗 Url : {{$node[\"Error Trigger\"].json[\"execution\"][\"url\"]}}",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 2
}